---
import { type CollectionEntry, render } from "astro:content";

interface Props {
  guide: CollectionEntry<"guides">;
}

const { guide } = Astro.props;
const { title } = guide.data;
const { Content } = await render(guide);
---

<article class="p-8 border rounded-sm border-neutral-600">
  <h1 class="mb-6 text-2xl font-bold">
    {title}
  </h1>
  <div class="prose prose-lg prose-invert">
    <Content />
  </div>
</article>
