---
import "../../src/styles/globals.css";
import Footer from "./Footer.astro";
import Header from "./Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="px-4 antialiased bg-neutral-800 sm:px-8 text-white">
    <Header />
    <main class="w-full max-w-4xl mx-auto grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
